.contactSection {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.contactForm {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: left;
}

.groupContainer {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.inputGroup label {
	font-weight: 600;
	color: var(--color-black);
}

.inputGroup input,
.inputGroup textarea {
	padding: 0.75rem;
	border: 1px solid #e3e3e3;
	border-radius: 8px;
	font-size: 1rem;
	background-color: #fff;
}

.contactForm button {
	padding: 0.75rem;
	background-color: #0070f3; /* Choose your accent primary theme color */
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: background 0.2s ease;
}

.contactForm button:hover {
	background-color: #0051a8;
}

.contactForm button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.successMsg {
	color: green;
	font-weight: 600;
	text-align: center;
}

.errorMsg {
	color: red;
	font-weight: 600;
	text-align: center;
}

.errorText {
	color: red;
	font-size: 0.875rem;
}
