.mail_box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mail_box h3 {
	color: #fff;
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 600;
}

.mail_box h5 {
	color: #fff;
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 500;
	cursor: pointer;
}

@media (max-width: 600px) {
	.mail_box h3 {
		font-size: 2rem;
		line-height: 2rem;
		text-align: center;
	}

	.mail_box h5 {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}

	.mail_box {
		margin-top: 1rem;
		margin-bottom: 5rem;
	}
}
