.container {
}

.box_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--color-dark-content);
  padding: 2rem 0;
}

.list,
.social_list,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_item {
  margin-right: 3rem;
  color: rgb(var(--color-primary));
  font-size: 1.5rem;
}

.social_list_item {
  margin-left: 1rem;
  font-size: 1.5rem;
}
.social_list_item svg {
  fill: rgb(var(--color-primary));
}
.box_2 {
  text-align: center;
  color: var(--color-dark-content);
  padding: 2rem 0;
}

@media (max-width: 600px) {
  .box_1 {
    display: none;
  }
  .box_2 {
    border-top: 1px solid var(--color-dark-content);
  }
}
