.tech_list {
	/* margin-top: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap; */

	display: flex;
	flex-wrap: wrap;
}
.tech_item {
	color: var(--color-dark-content);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}
.icon {
	/* border: 1px solid #e3e3e3; */
	border-radius: 10px 0 10px 0;

	background-color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 0.5rem;

	cursor: pointer;

	padding: 1rem;
}

.icon img {
	width: 2rem;
	height: 2rem;
	transition: transform 0.3s ease-out;
}

.icon:hover img {
	transform: scale(1.2);
}

@media (max-width: 600px) {
	.tech_list {
		justify-content: center;
	}
}
