/* work experience */

.common_details_box:not(:first-child) {
  margin-top: 3rem;
}
.title_heading {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: rgba(49, 60, 78, 1);
}
.post {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.3rem;
}

.company {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

.about_company {
  color: rgba(102, 103, 102, 1);

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-style: italic;
}

.work_details_box {
  margin-top: 0.5rem;
}
.work_details_box h3 {
  color: rgba(102, 103, 102, 1);

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-style: italic;
}

.work_details {
  color: rgba(0, 0, 0, 1);

  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4rem;
}

.work_details li {
  list-style: disc;
  /* list-style-position: inside; */

  text-align: start;

  margin-top: 0.5rem;

  margin-left: 1.5rem;
}

.work_experience_list_item {
  margin-bottom: 2rem;
}
.place_date_box {
  display: flex;
  justify-content: space-between;

  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: rgba(102, 103, 102, 1);

  font-style: italic;
}
