@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-main: 255, 255, 255;
  --color-primary: 0, 0, 0;

  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-solid-heading: #42446e;
  --color-dark-content: #666666;
  --color-light-content: #a7a7a7;

  --color-success: #d7ffe0;
  --color-success-text: #018c0f;

  --color-heading: #42446e;

  --color-tech-box: 97 219 251/1;
  --color-contact-heading: #1e0e62;

  --color-track: #aab4be;
  --color-thumb: #001e3c;
}
:root .dark {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-main: 0, 0, 0;
  --color-primary: 255, 255, 255;

  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-dark-content: #ffffff;
  --color-heading: #ffffff;
  --color-solid-heading: #7a7ff3;

  --color-tech-box: 255, 255, 255;
  --color-contact-heading: #ffffff;

  --color-track: #8796a5;

  --color-thumb: #003892;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-main: 255, 255, 255;
    --color-primary: 0, 0, 0;

    --color-white: 255, 255, 255;
    --color-black: 0, 0, 0;

    --color-solid-heading: #42446e;
    --color-dark-content: #666666;
    --color-light-content: #a7a7a7;

    --color-success: #d7ffe0;
    --color-success-text: #018c0f;

    --color-heading: #42446e;

    --color-tech-box: 97 219 251/1;
    --color-contact-heading: #1e0e62;

    --color-track: #aab4be;
    --color-thumb: #001e3c;
  }
  :root .dark {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-main: 0, 0, 0;
    --color-primary: 255, 255, 255;

    --color-white: 255, 255, 255;
    --color-black: 0, 0, 0;

    --color-dark-content: #ffffff;
    --color-heading: #ffffff;
    --color-solid-heading: #7a7ff3;

    --color-tech-box: 255, 255, 255;
    --color-contact-heading: #ffffff;

    --color-track: #8796a5;

    --color-thumb: #003892;
  }
}

/* 
  calculation :-

  100% = 1rem  = 16px
  1%  = 1/100 = 16/100

  1rem = 16px = 100%
  1rem/16 = 1px = 100%/16
  10 * (1rem/16) = 10px = 10 * (100%/16)
*/
html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: rgb(var(--color-main));
  /* color: rgb(var(--color-primary)); */

  width: calc(100vw - 14rem * 2);
  margin: auto;
  font-size: 1.6rem;
}

.colored {
  /* color: E70FAA E70FAA; */
  /* color: #e70faa; */
  background: linear-gradient(to right, #13b0f5, #e70faa);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.color-1 {
  color: #13b0f5;
}
.color-2 {
  color: #e70faa;
}
.color-dark-content {
  color: #666666;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1080px) {
  body {
    width: calc(100vw - 8rem * 2);
    margin: auto;
    font-size: 1.6rem;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 45%;
    scroll-behavior: smooth;
  }
  body {
    width: calc(100vw - 6rem * 2);
    margin: auto;
    font-size: 1.6rem;
  }
}

@media (max-width: 733px) {
  html {
    font-size: 45%;
  }
  body {
    width: calc(100vw - 4rem * 2);
    margin: auto;
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
  body {
    background-color: rgb(var(--color-main));

    width: calc(100vw - 4rem * 2);
    margin: auto;
    font-size: 1.6rem;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 62.5%;
  }
  body {
    background-color: rgb(var(--color-main));

    width: calc(100vw - 2rem * 2);
    margin: auto;
    font-size: 1.6rem;
  }
}
