.about {
  margin: 10rem 0 0 0;
}
.about_content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
}
.left {
  border: 5px solid;
  border-radius: 50%;

  min-height: 20rem;
  min-width: 20rem;
  height: 15rem;
  width: 15rem;

  margin-right: 2rem;

  font-size: 2.4rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: var(--color-dark-content);
}
.about_me {
  color: var(--color-dark-content);
  text-align: justify;
}

@media (max-width: 600px) {
  .about_content {
    flex-direction: column;
  }

  .left {
    min-height: 15rem;
    min-width: 15rem;
    height: 15rem;
    width: 15rem;

    margin-right: unset;

    font-size: 1.4rem;

    margin-bottom: 1.4rem;
  }
  .about_me {
    color: var(--color-dark-content);
    text-align: justify;

    font-size: 1.4rem;
  }

  .about_content {
    margin-top: 2rem;
  }
}
