.home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10rem 0;
}

.heading {
  font-size: 6rem;
  font-weight: 600;

  /* color: #42446e; */
  color: var(--color-heading);
}

.colored {
  /* color: E70FAA E70FAA; */
  /* color: #e70faa; */
  background: linear-gradient(to right, #13b0f5, #e70faa);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* image */
.profile_img_box {
  background: linear-gradient(to bottom, #e70faa, #00c0fd);
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;

  transition: transform 0.5s ease-in-out;
}

.profile_img_box .profile_img {
  /* E70FAA */
  /* border-image: linear-gradient(to right, #00c0fd, #e70faa) 1;
  border-radius: 50%;
  border: 5px solid transparent; */
  border-radius: 50%;

  height: 38rem;
  width: 38rem;
}

.profile_img_box:hover .profile_img {
  transform: scale(1);
}
.profile_img_box:hover {
  transform: scale(1.1); /* Scales the image up on hover */
}

@media (max-width: 600px) {
  .home {
    display: flex;
    justify-content: unset;
    align-items: center;
    flex-direction: column;

    margin: 5rem 0 10rem 0;
  }

  .heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-heading);

    width: 100%;
  }

  .profile_img_box {
    margin-top: 2rem;
  }

  .profile_img_box .profile_img {
    /* E70FAA */
    /* border-image: linear-gradient(to right, #00c0fd, #e70faa) 1;
    border-radius: 50%;
    border: 5px solid transparent; */
    border-radius: 50%;

    height: 20rem;
    width: 20rem;

    /* margin-top: 2rem; */
  }
}
