/* projects */

.title_heading {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: rgba(49, 60, 78, 1);
}
.projects_box {
  margin-top: 3rem;
}

.project_list_item {
  margin-bottom: 1.5rem;
}

.project_list_item h3 {
  color: rgba(0, 0, 0, 1);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.project_details li {
  color: rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;

  list-style-type: disc;
  margin-left: 1.5rem;
  margin-top: 0.2rem;
}

/* .project_details li:not(:first-child) {
  margin-top: 0.2rem;
} */
