/* language */

.title_heading {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: rgba(49, 60, 78, 1);
}

.language_box {
  margin-top: 3rem;
}

.language_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.language_list li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  color: rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 600;
}

.highlight_text {
  font-style: italic;
  font-weight: 600;
  color: rgba(102, 103, 102, 1);
}
