@media print {
  @page {
    size: auto; /* Set page size to A4, can be letter, legal, etc. */
    margin: 0; /* Adjust margins as needed */

    size: 21cm 23.7cm;
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
  }

  .printable-content {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    page-break-inside: avoid;
  }
}
